<div class="panel panel-default form-group">
    <div class="panel-heading cursor_p clearfix">
        <input type="search" ng-model="condition.query" placeholder="按app名称搜索" class="searchInput"
               ng-model-options="{debounce:{default:1000,blur:0}}">

        <select class="cursor_p searchInput pull-right" ng-model="condition.linkid"
                ng-options="linkid.linkid as linkid.linkid for linkid in linkids">
            <option value="">--全部分组--</option>
        </select>

        <select class="cursor_p searchInput pull-right" ng-model="condition.mark" style="width: 150px;color: #686868">
            <option value="">--全部标记--</option>
            <option value="1" style="background: red;">--红色--</option>
            <option value="2" style="background: orange">--橙色--</option>
            <option value="3" style="background: yellow">--黄色--</option>
            <option value="4" style="background: green">--绿色--</option>
            <option value="5" style="background: cyan">--青色--</option>
            <option value="6" style="background: blue">--蓝色--</option>
            <option value="7" style="background: purple">--紫色--</option>
        </select>
    </div>
    <div class="panel-body" ng-if="apps.length !== 0">
        <table class="table table-bordered table-hover">
            <tr class="tableTitle listCont">
                <td>ICON</td>
                <td>应用名称</td>
                <td>应用包名/iTunesid</td>
                <td>APPKEY</td>
                <td>应用组</td>
                <td>控制项</td>
                <td ng-if="adAuth === '1'">广告策略</td>
            </tr>
            <tr ng-repeat="app in apps" class="listCont">
                <td class="cursor_p"><img ngf-src="app.icon||'img/1.png'"></td>

                <td ng-if="app.mark === undefined || app.mark === null || app.mark === '0'">{{app.name}}</td>
                <td ng-if="app.mark !== undefined && app.mark !== null && app.mark !== '0'" class="mark-{{app.mark}}">
                    {{app.name}}
                </td>

                <td>{{app.pkgname}}</td>
                <td>{{app.appkey}}</td>
                <td>{{app.linkid}}</td>
                <td>
                    <a href="" data-toggle="modal" ng-click="showAdStrategyModal(app.ad, app.appkey, app.name)"
                       data-target="#adId">广告id</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-if="adAuth === '0'" data-toggle="modal"
                       ng-click="showAdStrategyModal(app.ad, app.appkey, app.name)" data-target="#adsStrategy">广告策略</a>
                    <a ng-if="user.timingTaskAuth === '1' && (!isSubAccount || jurisdiction.timingTask)"
                       ui-sref="index.appTimingTask({appkey: app.appkey})">&nbsp;&nbsp;&nbsp;定时任务</a>
                </td>
                <td ng-if="adAuth === '1'">
                    <a href="" ng-if="app.ad.strategy.native !== undefined" data-toggle="modal"
                       ng-click="showAdStrategyModal(app.ad, app.appkey, app.name, 'all')"
                       data-target="#adStrategyNodeModel">all</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-if="app.ad.strategy.native !== undefined" data-toggle="modal"
                       ng-click="showAdStrategyModal(app.ad, app.appkey, app.name, 'native')"
                       data-target="#adStrategyNodeModel">native</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-if="app.ad.strategy.interstitial !== undefined" data-toggle="modal"
                       ng-click="showAdStrategyModal(app.ad, app.appkey, app.name, 'interstitial')"
                       data-target="#adStrategyNodeModel">interstitial</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-if="app.ad.strategy.banner !== undefined" data-toggle="modal"
                       ng-click="showAdStrategyModal(app.ad, app.appkey, app.name, 'banner')"
                       data-target="#adStrategyNodeModel">banner</a>&nbsp;&nbsp;&nbsp;
                    <a href="" ng-if="app.ad.strategy.video !== undefined" data-toggle="modal"
                       ng-click="showAdStrategyModal(app.ad, app.appkey, app.name, 'video')"
                       data-target="#adStrategyNodeModel">video</a>&nbsp;&nbsp;&nbsp;
                    <a href="" data-toggle="modal" ng-click="showAdStrategyModal(app.ad, app.appkey, app.name, 'idext')"
                       data-target="#adStrategyNodeModel">idext</a>
                </td>
            </tr>
        </table>
    </div>

</div>
<!--分页-->
<nav class="text-right" gen-pagination="pagination"></nav>

<p class="nothing" ng-if="apps.length == 0">
    暂无数据信息
</p>

<!--the modal about adsStrategy-->
<div class="modal fade" id="adsStrategy" ng-class="{height100: adAuth ==='1'}">
    <div class="modal-content" ng-class="{'height100': adAuth ==='1', 'modal-dialog':adAuth ==='0'}">
        <div class="modal-header">
            <p>
                应用名:{{appname}}
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>

        <div class="clearfix" ng-if="adAuth === '0'">
            <label class="col-sm-3 control-label text-right">广告策略：</label>
            <div class="col-sm-8">
                <select type="text" class="form-control cursor_p" ng-model="ad.adStrategyId"
                        ng-options="ad._id.$oid as ad.name for ad in adStrategys"></select>
            </div>
        </div>
        <div class="modal-body height100" ng-if="adAuth === '1'">
            <div class="clearfix height100">
                <div class="modal-body height100">
                    <div ng-jsoneditor ng-model="ad.strategy" options="options" style="height: 92%;"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer" ng-if="adAuth === '0'">
            <button class="btn btn-info" ng-click="updataAdStrategys(ad.strategy)">保&nbsp;&nbsp;存</button>
        </div>
        <div class="modal-footer" ng-if="adAuth === '1'">
            <button class="btn btn-info returnJson" ng-click="updataAdStrategys(ad.strategy)">保&nbsp;&nbsp;存</button>
        </div>
    </div>
</div>

<!--the modal about adId-->
<div class="modal fade" id="adId">
    <div class="modal-content height100">
        <div class="modal-header">
            <p>
                应用名:{{appname}}
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>
        <div class="modal-body" style="height: 80%">
            <div class="clearfix height100">
                <div class="modal-body height100">
                    <div ng-jsoneditor ng-model="ad.id" options="options" class="height100"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="height: 20%">
            <button class="btn btn-info" ng-click="updataAdId(ad.id)">保&nbsp;&nbsp;存</button>
        </div>
    </div>
</div>

<div class="modal fade" id="adStrategyNodeModel" style="width:100%;height:100%;overflow:auto;">
    <div class="modal-content" style="padding: 20px;">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="" ng-click="setAnchor(0)">修改</a>
            </li>
            <li>
                <a data-toggle="tab" href="" ng-click="setAnchor(1)">追加</a>
            </li>
        </ul>

        <div class="tab-pane fade in active">
            <div ng-show="anchor==0">
                <div class="modal-header">
                    <button class="btn btn-info" ng-click="updataAdStrategys(ad.strategy)">保&nbsp;&nbsp;存</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red">注：请将权重weight设置在-1和10000之间！</span>
                    <a class="close" data-dismiss="modal">×</a>
                </div>
                <div class="modal-body clearfix">
                    <div class="clearfix">
                        <div>
                            <div ng-if="adStrategyNodeType === 'all'" ng-jsoneditor ng-model="ad.strategy"
                                 options="options"></div>
                            <div ng-if="adStrategyNodeType === 'native'" ng-jsoneditor ng-model="ad.strategy.native"
                                 options="options"></div>
                            <div ng-if="adStrategyNodeType === 'interstitial'" ng-jsoneditor
                                 ng-model="ad.strategy.interstitial" options="options"></div>
                            <div ng-if="adStrategyNodeType === 'banner'" ng-jsoneditor ng-model="ad.strategy.banner"
                                 options="options"></div>
                            <div ng-if="adStrategyNodeType === 'video'" ng-jsoneditor ng-model="ad.strategy.video"
                                 options="options"></div>
                            <div ng-if="adStrategyNodeType === 'idext'" ng-jsoneditor ng-model="ad.strategy.idext"
                                 options="options"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="anchor==1">
                <div class="modal-header">
                    <button class="btn btn-info" ng-click="appendAdStrategys(nodeValue)">追&nbsp;&nbsp;加</button>
                    &nbsp;&nbsp;
                    <div class="btn-group" ng-if="adStrategyNodeType == 'all'">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{nodeType==null?'请选择节点':nodeType}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ng-click="setNodeType('native')">native</a></li>
                            <li><a href="" ng-click="setNodeType('interstitial')">interstitial</a></li>
                            <li><a href="" ng-click="setNodeType('banner')">banner</a></li>
                            <li><a href="" ng-click="setNodeType('video')">video</a></li>
                            <li><a href="" ng-click="setNodeType('idext')">idext</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" ng-if="adStrategyNodeType != 'all'">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{adStrategyNodeType}}
                            <span class="caret"></span>
                        </button>
                    </div>

                    <a class="close" data-dismiss="modal">×</a>
                </div>
                <div class="modal-body ">
                    <div ng-jsoneditor ng-model="nodeValue" options="options"></div>
                </div>
            </div>
        </div>
        <div style="border: 1px solid #ccc;">
            <div class="form-group clearfix"
                 style="border-bottom:1px solid #ccc;padding:10px 0 10px 20px;line-height: 40px;">
                将以上修改同时应用于：&nbsp;&nbsp;
                <input type="checkbox" class="cursor_p" ng-checked="selectAllFlag" ng-click="selectAll()">&nbsp;全选
                <input type="search" ng-model="condition1.query" placeholder="按app名称搜索" class="searchInput pull-right"
                       ng-model-options="{debounce:{default:1000,blur:0}}" style="margin-right: 20px;">
            </div>

            <div class="geoPanel" style="padding-left:20px;">
                <div ng-repeat="group in groups" class="form-group">
                    <p ng-if="group.apps.length !==0"><span class="badge">应用组:{{group.linkid}}</span></p>
                    <label class="btn btn-default mark-{{app.mark}}" ng-class="{selected: app.checked}"
                           ng-repeat="app in group.apps" ng-click="addToMyApp(app)">
                        {{app.name}}
                    </label>
                </div>
            </div>

        </div>

    </div>
</div>