
<div class="panel panel-default" id="adPolymer">

    <div class="panel-heading">
        <p class="panel-title">
            <span>聚合广告组名：</span>
            <input class="searchInput" style="width:300px;" ng-model="name">
        </p>
    </div>
    <div class="panel-body" >
        <div ng-jsoneditor ng-model="adContent" options="options"></div>

        <p>包含的应用:</p>

        <div class="form-group" ng-class="{wraps:adApps.length !== 0}">
            <label ng-repeat="app in adApps" class="btn btn-default" ng-click="delAppFromOwn(app)">
                {{app.name}}
            </label>
        </div>

        <p>未添加的应用:</p>
        <div class="wraps form-group" ng-class="{wraps: isGroupShow}">
            <div  ng-repeat="group in groups" class="form-group" ng-show="group.linkidChecked">
                <p>
                    <span class="badge">应用组:{{group.linkid}}</span>
                    <button ng-click="selectAppGroup(group.linkid)">全选</button>
                </p>
                <label class="btn btn-default" ng-show="app.checked" ng-repeat="app in group.apps" ng-click="addAppToOwn(app)">
                    {{app.name}}
                </label>
            </div>
        </div>

        <div class="text-right">
            <button ng-if="isAddNewAdGroup" class="btn btn-info" ng-click="addAdGroup()">保&nbsp;&nbsp;存</button>
            <button ng-if="!isAddNewAdGroup" class="btn btn-info" ng-click="updateAdGroup()">保&nbsp;&nbsp;存</button>
        </div>

    </div>
</div>


