<h2><span class="glyphicon glyphicon-home" style="color:#46a3e1">&nbsp;</span>DashBoard</h2>
<div class="panel panel-default">
    <div style="width: 100%;height: 200px;">
        <div style="width: 49%;height: 200px;float: left;margin-left: 1%">
            <h3 style="padding-left: 20px">统计概况（昨日）：</h3>
            <div style="height:140px;margin-left: 20px;margin-right: 20px;border:1px solid #000000">
                <div ng-click="toStat()" style="width:30%;height:100px;margin-top: 20px;margin-left: 2.5%;float:left;border:1px solid #000000">
                    <h5 style="text-align: center">
                        推广应用安装总数
                    </h5>
                    <h1 style="text-align: center">
                        <a style="text-decoration:none;cursor: pointer">{{installCount}}</a>
                    </h1>
                </div>
                <div ng-click="toStat() "style="width:30%;height:100px;margin-top: 20px;margin-left: 2.5%;float:left;border:1px solid #000000">
                    <h5 style="text-align: center">
                        综合CTR
                    </h5>
                    <h1 style="text-align: center">
                        <a style="text-decoration:none;cursor: pointer">{{CTR}}</a>
                        <span class="glyphicon glyphicon-arrow-{{CTR_updown}}"
                              title="{{CTR_updown === 'up' ? '相比前一天上升' : CTR_updown === 'down' ? '相比前一天下降' : ''}}">
                        </span>
                    </h1>
                </div>
                <div ng-click="toStat()" style="width:30%;height:100px;margin-top: 20px;margin-left: 2.5%;float:left;border:1px solid #000000">
                    <h5 style="text-align: center">
                        综合CVR
                    </h5>
                    <h1 style="text-align: center">
                        <a style="text-decoration:none;cursor: pointer ">{{CVR}}</a>
                        <span class="glyphicon glyphicon-arrow-{{CVR_updown}}"
                              title="{{CVR_updown === 'up' ? '相比前一天上升' : CVR_updown === 'down' ? '相比前一天下降' : ''}}">
                        </span>
                    </h1>
                </div>
            </div>
        </div>
        <div style="width: 49%;height: 200px;float: right;margin-right: 1%">
            <h3 style="padding-left: 20px">应用概况：</h3>
            <div style="height:140px;margin-left: 20px;margin-right: 20px;border:1px solid #000000">
                <div ng-click="toApp()" style="width:30%;height:100px;margin-top: 20px;margin-left: 2.5%;float:left;border:1px solid #000000">
                    <h5 style="text-align: center">
                        系统应用APP数
                    </h5>
                    <h1 style="text-align: center">
                        <a style="text-decoration:none;cursor: pointer ">{{appCount}}</a>
                    </h1>
                </div>
                <div ng-click="toApp()" style="width:30%;height:100px;margin-top: 20px;margin-left: 2.5%;float:left;border:1px solid #000000">
                    <h5 style="text-align: center">
                        最新SDK版本
                    </h5>
                    <h1 style="text-align: center">
                        <a style="text-decoration:none;cursor: pointer ">{{sdkv}}</a>
                    </h1>
                </div>
                <div ng-click="toAppSyn()" style="width:30%;height:100px;margin-top: 20px;margin-left: 2.5%;float:left;border:1px solid #000000">
                    <h5 style="text-align: center">
                        未发布应用数
                    </h5>
                    <h1 style="text-align: center">
                        <a style="text-decoration:none;cursor: pointer ">{{appSynCount}}</a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%;margin-top: 50px">
        <div id="chartContainer" style="width:90%; height:450px;margin:0 auto;">
        </div>
    </div>
    <div style="width: 100%;height: 300px;margin-top: 30px">
        <div style="width: 49%;height: 300px;float: left;margin-left: 1%;">
            <!--<div class="panel panel-default form-group">-->
                <h4 style="padding-left: 20px">图片点击统计（昨日）：</h4>
                <div class="panel-body">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <td class="td_width120">图片名称</td>
                            <td>显示数</td>
                            <td>点击数</td>
                            <td>点击率</td>
                        </tr>
                        <tr ng-repeat="item in picStatisticsData | orderBy:col:desc">
                            <td class="td_width120">{{item.pic_name}}</td>
                            <td>{{item.show_num}}</td>
                            <td>{{item.click_num}}</td>
                            <td>{{item.click_rate}}</td>
                        </tr>
                    </table>
                </div>
            <!--</div>-->
        </div>
        <div style="width: 39%;height: 300px;float: right;margin-right: 1%;">
            <h4 style="padding-left: 20px">登录日志：</h4>
            <div class="panel-body">
                <table class="table table-hover table-bordered">
                    <tr>
                        <td class="td_width120">账户类型</td>
                        <td>账户名称</td>
                        <td>登陆时间</td>
                    </tr>
                    <tr ng-repeat="log in logs">
                        <td class="td_width120">{{log.company_name}}</td>
                        <td>{{log.operator}}</td>
                        <td>{{log.time}}</td>
                    </tr>
                    <!--<tr>
                        <td class="td_width120" style="text-align: center"><a ng-click="toLog()">......</a></td>
                        <td></td>
                        <td></td>
                    </tr>-->
                </table>
            </div>
        </div>
    </div>
</div>