
<p class="clearfix"><input type="search" ng-model="query" placeholder="搜索" class="searchInput pull-right"></p>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-4">
                <div class="col-sm-5">名称</div>
                <div class="col-sm-3">编码</div>
                <div class="col-sm-4">所属地区</div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-5">名称</div>
                <div class="col-sm-3">编码</div>
                <div class="col-sm-4">所属地区</div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-5">名称</div>
                <div class="col-sm-3">编码</div>
                <div class="col-sm-4">所属地区</div>
            </div>
        </div>
    </div>
    <div class="panel-body geo-info">
        <div class="col-sm-4 line_height item" ng-repeat="geo in geoInfos | filter : query">
            <div class="col-sm-5">{{geo.name}}</div>
            <div class="col-sm-3">{{geo.code}}</div>
            <div class="col-sm-4">{{geo.region}}</div>
        </div>
    </div>
</div>
