<p class="clearfix"><input type="search" ng-model="query" placeholder="搜索" class="searchInput pull-right"></p>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-3">
                <div class="col-sm-6">名称</div>
                <div class="col-sm-6">编码</div>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-6">名称</div>
                <div class="col-sm-6">编码</div>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-6">名称</div>
                <div class="col-sm-6">编码</div>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-6">名称</div>
                <div class="col-sm-6">编码</div>
            </div>
        </div>
    </div>
    
    <div class="panel-body lang-info">
        <div class="col-sm-3 line_height item" ng-repeat="language in languageInfos | filter : query">
            <div class="col-sm-6">{{language.name}}</div>
            <div class="col-sm-6">{{language.code}}</div>
        </div>

    </div>

</div>

