
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="clearfix">
            <span class="pull-right">
                <span class="glyphicon glyphicon-calendar" style="font-size: 24px;color:#787878;position: relative;top:7px;"></span><input class="searchInput cursor_p" type="text" readonly  name="reservation" id="reservation" placeholder="根据时间搜索"/>
            </span>
        </p>
    </div>

    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <tr class="tableTitle">
                <td class="td_width80">序列</td>
                <td>发布原因</td>
                <td>平台</td>
                <td>发布状态</td>
                <td class="td_width200">发布时间</td>
            </tr>

            <tr ng-repeat="log in logs">
                <td class="td_width80">{{$index + 1}}</td>
                <td>{{log.reason}}</td>
                <td ng-if="log.platform === '1'">android</td>
                <td ng-if="log.platform === '2'">iOS</td>
                <td>{{log.info}}</td>
                <td class="td_width200">{{log.time}}</td>
            </tr>
        </table>
    </div>
</div>

<nav class="text-right" gen-pagination="pagination"></nav>

<p class="nothing" ng-if="apps.length == 0">
    暂无数据信息
</p>

