<!-- list of ctrlParam-->
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">参数设置</p>
    </div>
    <div class="panel-body">

        <div class="form-group" ng-repeat="param in params">
            <div class="row">
                <label class="col-sm-3 control-label text-right"><span class="cursor_p glyphicon glyphicon-question-sign" title="{{param.note}}"></span>&nbsp;{{param.key}}：</label>
                <div class="col-sm-6">
                    <input class="form-control" ng-model="param.value" disabled>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-info form-control" data-target="#paramTmplBatch" data-toggle="modal" ng-click="showModel($index)">编辑</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--modify the ctrlParam-->
<div class="modal fade" id="paramTmplBatch">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>
        <div class="modal-body clearfix" >
            <div class="clearfix" ng-class="{margin_b20:showParam.type==='1'}">
                <p>{{showParam.key}}：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red">注：请将权重weight设置在-1和10000之间！</span></p>
                <div>
                    <textarea ng-if="showParam.type === '1'" ng-model="showParam.value" class="paramTextarea" style="width:100%;"></textarea>
                    <div ng-if="showParam.type !== '1'" ng-jsoneditor ng-model="showParam.value" options="options" class="height300"></div>
                </div>
            </div>

            <div class="bg-danger clearfix panel-body" ng-if="errors.length != 0">
                <p style="text-indent: 10px;" class="text-danger"  ng-repeat="error in errors">error : {{error.error}}</p>
            </div>

            <div class="form-group clearfix">
                将以上修改同时应用于：&nbsp;&nbsp;
                <input type="checkbox" class="cursor_p" ng-checked="selectAllFlag" ng-click="selectAll()">&nbsp;全选
                <input type="search" ng-model="condition.query" placeholder="按app名称搜索" class="searchInput pull-right" ng-model-options="{debounce:{default:1000,blur:0}}">
            </div>

            <div class="geoPanel">
                <div ng-repeat="group in groups" class="form-group">
                    <p ng-if="group.apps.length !==0"><span class="badge">应用组:{{group.linkid}}</span></p>
                    <label class="btn btn-default mark-{{app.mark}}" ng-class="{selected: app.checked}" ng-repeat="app in group.apps" ng-click="addToMyApp(app)">
                        {{app.name}}
                    </label>

                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-info" ng-click="updateParamToOtherApp(showParam)">保&nbsp;&nbsp;存</button>
        </div>
    </div>
</div>
