
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <label class="col-sm-2 control-label text-right">&nbsp;&nbsp;参数名称</label>
            <label class="col-sm-4">
                开关项
            </label>
            <label class="col-sm-4">
                控制条件
            </label>
        </div>

        <div class="form-group" ng-repeat="param in myparams">
            <div class="row">
                <label class="col-sm-2 control-label text-right"><span class="cursor_p glyphicon glyphicon-question-sign" title="{{param.note}}"></span>&nbsp;{{param.name}}：</label>
                <div class="col-sm-1">
                    <input class="form-control" ng-model="param.switch" disabled>
                </div>
                <div class="col-sm-6" ng-if="param.open_condition !== undefined">
                    <input class="form-control" ng-model="param.open_condition" disabled>
                </div>
                <div class="col-sm-6" ng-if="param.open_condition === undefined">
                    <input class="form-control" placeholder="无控制条件" disabled>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-info form-control" data-target="#paramTmplBatch" data-toggle="modal" ng-click="showModel(param)">编辑</button>
                </div>
        </div>
        </div>
    </div>
</div>

<!--编辑批量应用模板-->
<div class="modal fade modalPosition" id="paramTmplBatch">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>
        <div class="modal-body clearfix" >
            <div class="form-group" ng-if="isAddNewParam">
                <span class="modalSpan">参数名称：</span>
                <input class="modalInput" ng-model="showParam.name">
            </div>
            <div class="form-group" ng-if="!isAddNewParam">
                <span class="modalSpan">参数名称：</span>
                <input class="modalInput" ng-model="showParam.name" disabled>
            </div>
            <div class="form-group">
                <span class="modalSpan">开关状态：</span>
                <input class="modalInput" ng-model="showParam.switch">
            </div>
            <div class="form-group" ng-if="!isAddNewParam && showParam.open_condition !== undefined">
                <span class="modalSpan">控制条件：</span>
                <textarea cols="4" class="paramTextarea" ng-model="showParam.open_condition"></textarea>
            </div>
            <div class="bg-danger clearfix panel-body" ng-if="errors.length != 0">
                <p style="text-indent: 10px;" class="text-danger"  ng-repeat="error in errors">error : {{error.error}}</p>
            </div>
            <div class="form-group clearfix">
                将以上修改同时应用于：&nbsp;&nbsp;
                <input type="checkbox" class="cursor_p" ng-checked="selectAllFlag" ng-click="selectAll()">&nbsp;全选
                <input type="search" ng-model="condition.query" placeholder="按app名称搜索" class="searchInput pull-right" ng-model-options="{debounce:{default:1000,blur:0}}">
            </div>
            <div class="geoPanel">
                <div ng-repeat="group in groups" class="form-group">
                    <p ng-if="group.apps.length !==0"><span class="badge">应用组</span>{{group.linkid}}</p>
                    <label class="btn btn-default mark-{{app.mark}}" ng-class="{selected: app.checked}" ng-repeat="app in group.apps" ng-click="addToMyApp(app)">
                        {{app.name}}
                    </label>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button class="btn btn-info" ng-click="updateInjectedParamToApp(showParam)">保&nbsp;&nbsp;存</button>
        </div>
    </div>
</div>

<!--控制参数模板-->
<!--<div class="modal fade modalPosition" id="ctrlTmplBatch">-->
    <!--<div class="modal-content modal-dialog">-->
        <!--<div class="modal-header">-->
            <!--<p>-->
                <!--<a class="close" data-dismiss="modal">×</a>-->
            <!--</p>-->
        <!--</div>-->

        <!--<div class="modal-body clearfix">-->
            <!--<div class="form-group row" ng-repeat="param in ctrlTmpl">-->

                <!--<div class="col-sm-2" style="line-height:30px;">-->
                   <!--{{param.name}}：-->
                <!--</div>-->
                <!--<div class="col-sm-2">-->
                    <!--<input class="form-control" ng-model="param.switch" disabled>-->
                <!--</div>-->
                <!--<div class="col-sm-6">-->
                    <!--<input class="form-control" ng-model="param.open_condition" disabled>-->
                <!--</div>-->
                <!--<div class="col-sm-1">-->
                    <!--<button class="btn btn-info" data-dismiss="modal" ng-click="addCtrlParamTplToOwn(param)" ng-disabled="param.checked">确&nbsp;&nbsp;定</button>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--批量复制其他应用的注入参数到自己-->
<!--<div class="modal fade modalPosition" id="copyParam">-->
    <!--<div class="modal-dialog modal-content">-->
        <!--<div class="modal-header">-->
            <!--<p>-->
                <!--<a class="close" data-dismiss="modal">×</a>-->
            <!--</p>-->
        <!--</div>-->

        <!--<div class="modal-body clearfix">-->
            <!--<div class="form-group clearfix">-->
                <!--<label class="control-label col-sm-3">-->
                    <!--请选择参数来源：-->
                <!--</label>-->
                <!--<div class="col-sm-9">-->
                    <!--<select class="form-control" ng-model="otherAppkey" ng-options="app.appkey as app.name for app in appkeys">-->
                        <!--<option value="">&#45;&#45;请选择app&#45;&#45;</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <!--<p class="text-center">复制此应用的所有注入参数</p>-->

        <!--</div>-->
        <!--<div class="modal-footer">-->
            <!--<button class="btn btn-info" data-dismiss="modal" ng-click="addOtherInjectParamToOwn()">保&nbsp;&nbsp;存</button>-->
        <!--</div>-->

    <!--</div>-->

<!--</div>-->




