<div class="panel panel-default">
    <div class="panel-heading">
        <p class="clearfix">
            <input type="search" ng-model="search.login_id" placeholder="根据用户ID搜索" class="searchInput">
            <select class="cursor_p searchInput pull-left" ng-model="search.accountType" style="width: 150px;color: #686868">
                <option value="">--全部账户类型--</option>
                <option value="1">--主账户--</option>
                <option value="2">--子账户--</option>
            </select>
            <span class="pull-right">
                <span class="glyphicon glyphicon-calendar"
                      style="font-size: 24px;color:#787878;position: relative;top:7px;">
                </span><input class="searchInput cursor_p" type="text" readonly name="reservation" id="reservation"
                              placeholder="根据时间搜索"/>
            </span>
        </p>
    </div>

    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <tr class="tableTitle">
                <td class="td_width80">序列</td>
                <td class="td_width180">用户</td>
                <td>操作人</td>
                <td class="td_width180">团队名称</td>
                <td class="td_width180">应用名称</td>
                <td class="td_width120">广告类型</td>
                <td class="td_width120">广告平台</td>
                <td>ID</td>
                <td class="td_width80">事件</td>
                <td class="td_width180">日期</td>
            </tr>

            <tr ng-repeat="log in logs">
                <td class="td_width80">{{$index + 1}}</td>
                <td class="td_width180">{{log.username}}</td>
                <td>{{log.nickname}}</td>
                <td class="td_width180">{{log.company}}</td>
                <td class="td_width180">{{log.info}}</td>
                <td class="td_width120">{{log.adType}}</td>
                <td class="td_width120">{{log.adPlatform}}</td>
                <td>{{log.adStrategy}}{{log.adStrategyValue}}</td>
                <td class="td_width80">{{log.action}}</td>
                <td class="td_width180">{{log.strCreateDate}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="form-group jsoneditor-form" style="position: relative">
    <button class="btn btn-info btn-s" style="position: absolute; top: -4px;" ng-click="exportExcel()">导出Excel文件</button>
</div>
<nav class="text-right" gen-pagination="pagination"></nav>



<p class="nothing" ng-if="apps.length == 0">
    暂无数据信息
</p>