<div class="panel panel-default form-group">
    <!--<div class="panel-heading">
        <input type="search" ng-model="query" placeholder="按运营组名称搜索" class="searchInput" ng-model-options="{debounce:{default:1000,blur:0}}">
    </div>-->
    <div class="panel-body" ng-if="tasks.length !== 0">
        <table class="table table-bordered table-hover">

            <tr class="tableTitle">
                <td class="td_width200">任务名称</td>
                <!--<td>权重</td>-->
                <td>更新时间</td>
                <td class="td_width200">操作</td>
            </tr>

            <tr ng-repeat="task in tasks">
                <td class="td_width200">{{task.describe}}</td>
                <!--<td>{{task.weight}}</td>-->
                <td>{{task.utime}}</td>
                <td class="td_width200">
                    <a ui-sref="sadminTask.sadminTaskModify({optgroupid : task._id.$oid})" class="glyphicon glyphicon-edit">编辑</a>&nbsp;&nbsp;
                    <a href="" class="glyphicon glyphicon-remove" ng-click="delTask(task._id.$oid, $index)">删除</a>&nbsp;&nbsp;
                </td>
            </tr>
        </table>
    </div>
</div>


<p class="nothing" ng-if="tasks.length == 0">
    暂无数据信息
</p>

<nav class="text-right" gen-pagination="pagination"></nav>




