
<!--the level is 0 about the paramctrlPanel-->
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">
            <button class="btn btn-default" ng-click="showAddSysCtrlParamModal()" data-toggle="modal" data-target="#insertParamPanel"><span class="glyphicon glyphicon-plus"></span>&nbsp;系统控制参数</button>
        </p>
    </div>
    <table class="table table-bordered table-hover" ng-if="sysCtrlParams.length !== 0">
        <tr class="tableTitle">
            <td class="td_width200">参数名称</td>
            <td class="td_width300">参数值</td>
            <td>备注</td>
            <td class="td_width120" >ctrl</td>
        </tr>
        <tr ng-repeat="param in sysCtrlParams">
            <td class="td_width200">{{param.key}}</td>
            <td class="td_width300">{{param.value}}</td>
            <td>{{param.note}}</td>
            <td class="td_width120">
                <a class="glyphicon glyphicon-edit cursor_p" ng-click="showUpdateCtrlParamModal(param)"  data-toggle="modal" data-target="#updateParamPanel">编辑</a>&nbsp;&nbsp;
                <a class="glyphicon glyphicon-edit cursor_p" ng-click="delCtrlSysParam(param, $index)">删除</a>&nbsp;&nbsp;
            </td>
        </tr>
    </table>
</div>

<!--the level is 1 about the paramctrlPanel-->
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">
            <button class="btn btn-default" ng-click="showAddUserCtrlParamModal()" data-toggle="modal" data-target="#insertParamPanel"><span class="glyphicon glyphicon-plus"></span>&nbsp;普通控制参数</button>
        </p>

    </div>
    <table class="table table-bordered table-hover" ng-if="userCtrlParams.length !== 0">
        <tr  class="tableTitle">
            <td class="td_width200">参数名称</td>
            <td class="td_width300">参数值</td>
            <td>备注</td>
            <td class="td_width120">ctrl</td>
        </tr>
        <tr ng-repeat="param in userCtrlParams">
            <td class="td_width200">{{param.key}}</td>
            <td class="td_width300">{{param.value}}</td>
            <td>{{param.note}}</td>
            <td class="td_width120">
                <a class="glyphicon glyphicon-edit cursor_p" ng-click="showUpdateCtrlParamModal(param)"  data-toggle="modal" data-target="#updateParamPanel">编辑</a>&nbsp;&nbsp;
                <a class="glyphicon glyphicon-edit cursor_p" ng-click="delCtrlUserParam(param, $index)">删除</a>&nbsp;&nbsp;
            </td>
        </tr>
    </table>
</div>

<!--the level is 2 about the paramctrlPanel-->
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">
            <button class="btn btn-default" ng-click="showAddCtrlParamModal()" data-toggle="modal" data-target="#insertParamPanel"><span class="glyphicon glyphicon-plus"></span>&nbsp;个性化参数</button>
        </p>
    </div>
    <table class="table table-bordered table-hover" ng-if="ctrlParams.length !== 0">
        <tr class="tableTitle">
            <td class="td_width200">参数名称</td>
            <td class="td_width300">参数值</td>
            <td>备注</td>
            <td class="td_width120">ctrl</td>
        </tr>
        <tr ng-repeat="param in ctrlParams">
            <td class="td_width200">{{param.key}}</td>
            <td class="td_width300">{{param.value}}</td>
            <td>{{param.note}}</td>
            <td class="td_width120">
                <a class="glyphicon glyphicon-edit cursor_p" ng-click="showUpdateCtrlParamModal(param)" data-toggle="modal" data-target="#updateCustomParamPanel">编辑</a>&nbsp;&nbsp;
                <a class="glyphicon glyphicon-edit cursor_p" ng-click="delCtrlParam(param, $index)">删除</a>&nbsp;&nbsp;
            </td>
        </tr>
    </table>
</div>

<!--超管更新系统参数和用户参数-->
<div class="modal fade" id="updateParamPanel">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>
        <div class="modal-body clearfix">
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label text-right" style="padding:0;">参数名称：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="updateParam.key" disabled>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label text-right" style="padding:0;">备注：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="updateParam.note">
                </div>
            </div>
            <div class="clearfix">
                <label class="col-sm-2 control-label text-right" style="padding:0;">参数值：</label>
                <div class="col-sm-10">
                    <textarea  ng-if="updateParam.type === '1'" ng-model="updateParam.value" class="paramTextarea"></textarea>
                    <div ng-if="updateParam.type !== '1'" ng-jsoneditor ng-model="updateParam.value" options="options" class="height300"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal" ng-click="updateCtrlParam()">保&nbsp;&nbsp;存</button>
        </div>
    </div>

</div>

<!--超管更新个性化参数-->
<div class="modal fade" id="updateCustomParamPanel">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>
        <div class="modal-body clearfix">
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label text-right" style="padding:0;">参数名称：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="updateParam.key" disabled>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label text-right" style="padding:0;">备注：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="updateParam.note">
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label text-right" style="padding:0;">参数值：</label>
                <div class="col-sm-10">
                    <textarea type="text" rows="15" class="form-control" ng-model="updateParam.value"></textarea>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label text-right" style="padding:0;">选择用户：</label>
                <div class="col-sm-10">
                    <select type="text" rows="15" class="form-control" ng-model="pubid" ng-options="user.pubid as user.login_id for user in users">
                        <option value="">——请选择用户——</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="updateCtrlParam()">保&nbsp;&nbsp;存</button>
        </div>
    </div>

</div>

<!--the modal for insert the data from the paramPanel-->
<div class="modal fade" id="insertParamPanel">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>
        <div class="modal-body clearfix">
            <div ng-if="addParam.level === '1'" class="form-group clearfix">
                <label class="col-sm-2 control-label text-right" style="padding:0;">参数类型:</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="addParam.type">
                        <option value="1">String</option>
                        <option value="2" class="cursor_p">JSON数组</option>
                        <option value="3" class="cursor_p">JSON对象</option>
                    </select>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label text-right" style="padding:0;">参数名称：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="addParam.key">
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label text-right" style="padding:0;">备注：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="addParam.note">
                </div>
            </div>
            <div class="clearfix" ng-if="addParam.level === '1'">
                <label class="col-sm-2 control-label text-right"  style="padding:0;" >参数值：</label>
                <div class="col-sm-10">
                    <textarea ng-if="addParam.type === '1'" type="text" rows="15" class="form-control" ng-model="addParam.value"></textarea>
                    <div ng-if="addParam.type !== '1'" ng-jsoneditor ng-model="addParam.value" options="options" class="height300"></div>
                </div>
            </div>
            <div class="bg-danger clearfix panel-body" ng-if="errors.length != 0">
                <p style="text-indent: 10px;" class="text-danger"  ng-repeat="error in errors">error : {{error.error}}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="addCtrlParam()">保&nbsp;&nbsp;存</button>
        </div>
    </div>

</div>