<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">基本信息列表</p>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <tr class="tableTitle">
                <td>编号</td>
                <td>用户名称</td>
                <td>用户邮箱</td>
                <td>用户电话</td>
                <td>团队名称</td>
                <td>开发者id</td>
                <td>用户角色</td>
                <td>状态</td>
                <td>属于奇讯</td>
                <td>操作</td>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{$index +1}}</td>
                <td>{{user.contacts}}</td>
                <td ng-if="user.pub_level == '1'"><a href="" ng-click="switchToSubAccount(user.pubid)">{{user.login_id}}</a></td>
                <td ng-if="user.pub_level == '0'">{{user.login_id}}</td>
                <td>{{user.telephone}}</td>
                <td ng-if="user.pub_level == '1'" class="td_width120">{{user.company_name}}</td>
                <td ng-if="user.pub_level == '0'" class="td_width120">超管</td>
                <td>{{user.pubid}}</td>
                <td ng-if="user.pub_level == '0'">超级管理员</td>
                <td ng-if="user.pub_level == '1'">普通管理员</td>
                <td ng-if="user.state === '0'">开放</td>
                <td ng-if="user.state === '1'">被冻结</td>
                <td ng-if="user.interior === '0'">否</td>
                <td ng-if="user.interior === '1'">是</td>
                <td>
                    <a class="glyphicon glyphicon-edit cursor_p" ng-if="user.pub_level == '1'" data-target="#setUserState" data-toggle="modal" ng-click="showModel(user)">编辑</a>&nbsp;&nbsp;
                    <a href="" ng-click="resetPassword(user.pubid, user.login_id)">重置密码</a>&nbsp;&nbsp;
                    <a href="" ng-if="user.pub_level == '1' && user.adAuth === '0'" ng-click="setAdAuth($index, '1')">开放广告权限</a>
                    <a href="" ng-if="user.pub_level == '1' && user.adAuth === '1'" ng-click="setAdAuth($index, '0')">关闭广告权限</a>&nbsp;&nbsp;
                    <a href="" ng-if="user.pub_level == '1' && user.adPartAuth === '0'" ng-click="setAdPartAuth($index, '1')">开放部分广告权限</a>
                    <a href="" ng-if="user.pub_level == '1' && user.adPartAuth === '1'" ng-click="setAdPartAuth($index, '0')">关闭部分广告权限</a>
                    <a href="" ng-if="user.pub_level == '1' && (user.timingTaskAuth === '0' || user.timingTaskAuth === undefined)" ng-click="setTimingTaskAuth($index, '1')">开放定时任务权限</a>
                    <a href="" ng-if="user.pub_level == '1' && user.timingTaskAuth === '1'" ng-click="setTimingTaskAuth($index, '0')">关闭定时任务权限</a>
                </td>
            </tr>
        </table>
    </div>
</div>


<p class="nothing" ng-if="users.length == 0">
    暂无数据信息
</p>

<div class="modal fade" id="setUserState">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>
        <div class="modal-body clearfix">
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label text-right" style="padding:0;">用户名称：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="user.contacts" disabled>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label text-right" style="padding:0;">用户邮箱：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="user.login_id" disabled>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label text-right" style="padding:0;">团队名称：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="user.company_name">
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label text-right" style="padding:0;">公司域名：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="注意:不填为默认" ng-model="user.domain_name">
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label text-right" style="padding:0;">选择状态：</label>
                <div class="col-sm-10">
                    <select type="text" class="form-control" ng-model="user.state">
                        <option value="0">——开放状态——</option>
                        <option value="1">——冻结状态——</option>
                    </select>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label text-right" style="padding:0;">属于奇讯：</label>
                <div class="col-sm-10">
                    <select type="text" class="form-control" ng-model="user.interior">
                        <option value="0">——否——</option>
                        <option value="1">——是——</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="submit()">保&nbsp;&nbsp;存</button>
        </div>
    </div>

</div>


