<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">列表详情</p>
    </div>
    <!--<div class="panel-heading">-->
        <!--<input type="search" ng-model="query" placeholder="按运营组名称搜索" class="searchInput" ng-model-options="{debounce:{default:1000,blur:0}}">-->
    <!--</div>-->
    <div class="panel-body" ng-if="campaigns.length !== 0">
        <table class="table table-bordered table-hover">

            <tr class="tableTitle">
                <td style="width:200px;">运营组</td>
                <td>应用组</td>
                <td>权重</td>
                <td>操作</td>
            </tr>

            <tr ng-repeat="campaign in campaigns">
                <td>{{campaign.subgroup}}</td>
                <td>{{campaign.linkid}}</td>
                <td>{{campaign.weight}}</td>
                <td style="width:180px;">
                    <a ui-sref="sadminStrategy.sadminStrategyModify({optgroupid : campaign._id.$oid})" class="glyphicon glyphicon-edit">编辑</a>&nbsp;&nbsp;
                    <a href="" class="glyphicon glyphicon-remove" ng-click="delCampaign(campaign._id.$oid, $index)">删除</a>
                </td>
            </tr>
        </table>
    </div>
</div>


<p class="nothing" ng-if="campaigns.length == 0">
    暂无数据信息
</p>


