<p class="panel-title">
    <button class="btn btn-default" ng-click="showAddTagModel()" data-toggle="modal" data-target="#tagModal"><span class="glyphicon glyphicon-plus"></span>&nbsp;设置标签</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-default" ng-click="publishTag()">发布标签库</button>
</p>
<p></p>
<div class="panel panel-default" ng-repeat="data in datas">
    <div class="panel-heading">
        <p class="panel-title">
            <button class="btn btn-default" ng-click="showClassificationModel(data.classification)" data-toggle="modal" data-target="#classificationModel">{{data.classification}}</button>
        </p>
    </div>
    <div class="panel-body">

        <label class="btn btn-default tagStyle" ng-repeat="tag in data.tags" ng-mouseleave="flag = false" ng-mouseenter="flag = true">
          {{tag.name}}
            <a class="delTag" ng-click="delTag(tag.tagId, tag.name)" ng-if="flag">x</a>
            <a class="editTag glyphicon glyphicon-edit" ng-click="showUpdateTagModel(data.classification, tag.name, tag.tagId)" data-toggle="modal" data-target="#tagModal" ng-if="flag"></a>
        </label>
        <button class="btn btn-default" ng-click="showAddTagModel1(data.classification)" data-toggle="modal" data-target="#tagModal1"><span class="glyphicon glyphicon-plus"></span></button>
        <!--<div class="panel-heading">-->
        <!--<p class="panel-title">-->
            <!--<button class="btn btn-default" ng-click="showAddTagModel()" data-toggle="modal" data-target="#tagModal"><span class="glyphicon glyphicon-plus"></span>&nbsp;设置标签</button>-->
            <!--&lt;!&ndash;<input type="search" ng-model="condition.query" placeholder="按标签名称搜索" class="searchInput" ng-model-options="{debounce:{default:1000,blur:0}}">&ndash;&gt;-->
        <!--</p>-->
        <!--</div>-->

    </div>
</div>

<div class="modal fade" id="tagModal">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>

        <div class="modal-body clearfix" ng-if="isAddNewTag">
            <label class="control-label col-md-3 text-right">标签分类：</label>
            <div class="col-md-8">
                <input class="form-control" ng-model="newTag.classification">
            </div>
        </div>

        <div class="modal-body clearfix">
            <label class="control-label col-md-3 text-right">标签名称：</label>
            <div class="col-md-8">
                <input class="form-control" ng-model="newTag.name">
            </div>
        </div>

        <div class="modal-footer">
            <button ng-if="isAddNewTag" class="btn btn-info" ng-click="setNewTag()">确&nbsp;&nbsp;定</button>
            <button ng-if="!isAddNewTag" class="btn btn-info" ng-click="updateTag(newTag._id.$oid)">编&nbsp;&nbsp;辑</button>
        </div>
    </div>
</div>

<div class="modal fade" id="tagModal1">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>

        <div class="modal-body clearfix">
            <label class="control-label col-md-3 text-right">标签名称：</label>
            <div class="col-md-8">
                <input class="form-control" ng-model="newTag.name">
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-info" ng-click="setNewTag()">确&nbsp;&nbsp;定</button>
        </div>
    </div>
</div>

<div class="modal fade" id="classificationModel">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>

        <div class="modal-body clearfix">
            <label class="control-label col-md-3 text-right">标签分类：</label>
            <div class="col-md-8">
                <input class="form-control" ng-model="newTag.classification">
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-info" ng-click="setNewClassification()">确&nbsp;&nbsp;定</button>
        </div>
    </div>
</div>