
<nav class="header  form-group" role="navigation">
    <span>
        <span ng-if="!isSubAccount">[主账户]-超管-{{user.contacts}}</span>&nbsp;&nbsp;
        <span ng-if="isSubAccount">[子账户]-超管-{{user.contacts}}</span>&nbsp;&nbsp;
        <a ui-sref="userseting">用户设置</a>&nbsp;&nbsp;
        <a href="" ng-click="logout()">退出</a>&nbsp;&nbsp;
    </span>

    <select class="cursor_p" ng-model="platform">
        <option value="2">iOS</option>
        <option value="1">Android</option>
        <option disabled>windowsPhone</option>
    </select>

</nav>
