    <!--param-->
    <div class="panel-group sidebar col-sm-12" id="accordion" role="sidebar" >
        <div class="panel panel-default" ng-if="!isSubAccount || jurisdiction.para_ctrl ||jurisdiction.para_inject">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#sadminParam">
                <p class="panel-title"><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;参数管理</p>
            </div>
            <div class="secondMenu collapse" ng-class="{in:$state.includes('sadminParam')}" id="sadminParam">
                <div class="panel-body">
                    <p ui-sref="sadminParam.sadminParamCtrlInfo" ng-if="!isSubAccount || jurisdiction.para_ctrl"
                       ng-class="{sidebarBcg : $state.includes('sadminParam.sadminParamCtrlInfo')}"><span class="glyphicon glyphicon-random"></span>&nbsp;&nbsp;控制参数</p>
                    <p ui-sref="sadminParam.sadminParamInjectInfo" ng-if="!isSubAccount || jurisdiction.para_inject"
                       ng-class="{sidebarBcg : $state.includes('sadminParam.sadminParamInjectInfo')}"><span class="glyphicon glyphicon-random"></span>&nbsp;&nbsp;注入参数</p>
                </div>
            </div>
        </div>


        <!--strategy-->
        <div class="panel panel-default" ng-if="!isSubAccount || jurisdiction.view_strategy ||jurisdiction.new_strategy">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#sadminStrategy">
                <p class="panel-title"><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;投放管理</p>
            </div>
            <div class="secondMenu collapse"  id="sadminStrategy"  ng-class="{in:$state.includes('sadminStrategy')}">
                <div class="panel-body">
                    <p ui-sref="sadminStrategy.sadminStrategyInfo" ng-if="!isSubAccount || jurisdiction.view_strategy"
                       ng-class="{sidebarBcg:$state.includes('sadminStrategy.sadminStrategyInfo')}"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;查看策略</p>
                    <p ui-sref="sadminStrategy.sadminStrategyInsert" ng-if="!isSubAccount || jurisdiction.new_strategy"
                       ng-class="{sidebarBcg : $state.includes('sadminStrategy.sadminStrategyInsert')}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;新增策略</p>
                </div>
            </div>

        </div>

        <!--task-->
        <div class="panel panel-default" ng-if="!isSubAccount || jurisdiction.view_task || jurisdiction.new_task">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#sadminTask">
                <p class="panel-title"><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;任务管理</p>
            </div>
            <div class="secondMenu collapse"  id="sadminTask"  ng-class="{in:$state.includes('sadminTask')}">
                <div class="panel-body">
                    <p ui-sref="sadminTask.sadminTaskInfo" ng-if="!isSubAccount || jurisdiction.view_task"
                       ng-class="{sidebarBcg:$state.includes('sadminTask.sadminTaskInfo')}"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;查看任务组</p>
                    <p ui-sref="sadminTask.sadminTaskInsert" ng-if="!isSubAccount || jurisdiction.new_task"
                       ng-class="{sidebarBcg : $state.includes('sadminTask.sadminTaskInsert')}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;新增任务组</p>
                </div>
            </div>

        </div>

        <!--AdStrategy-->
        <div class="panel panel-default" ng-if="!isSubAccount || jurisdiction.view_adstrategy || jurisdiction.new_adstrategy">
            <div class="panel-heading" data-toggle="collapse" data-target="#sadminCompagin" data-parent="#accordion">
                <p class="panel-title"><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;广告策略</p>
            </div>
            <div class="secondMenu collapse"  id="sadminCompagin"  ng-class="{in:$state.includes('sadminAdStrategy')}">
                <div class="panel-body">
                    <p ui-sref="sadminAdStrategy.sadminAdStrategyInfo" ng-if="!isSubAccount || jurisdiction.view_adstrategy"
                       ng-class="{sidebarBcg:$state.includes('sadminAdStrategy.sadminAdStrategyInfo')}"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;查看策略</p>
                    <p ui-sref="sadminAdStrategy.sadminAdStrategyInsert" ng-if="!isSubAccount || jurisdiction.new_adstrategy"
                       ng-class="{sidebarBcg : $state.includes('sadminAdStrategy.sadminAdStrategyInsert')}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;新增策略</p>
                </div>
            </div>
        </div>

        <!--TaskStrategy-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading" data-toggle="collapse" data-target="#sadminTask" data-parent="#accordion">-->
                <!--<p class="panel-title"><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;任务策略</p>-->
            <!--</div>-->
            <!--<div class="secondMenu collapse"  id="sadminTask"  ng-class="{in:$state.includes('sadminPrivateAd')}">-->
                <!--<div class="panel-body">-->
                    <!--<p ui-sref="sadminPrivateAd.sadminPrivateAdInfo" ng-class="{sidebarBcg:$state.includes('sadminPrivateAd.sadminPrivateAdInfo')}"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;查看策略</p>-->
                    <!--<p ui-sref="sadminPrivateAd.sadminPrivateAdInsert" ng-class="{sidebarBcg : $state.includes('sadminPrivateAd.sadminPrivateAdInsert')}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;新增策略</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--sadminMarket-->
        <div class="panel panel-default" ng-if="!isSubAccount || jurisdiction.app_ctrl">
            <div class="panel-heading" ui-sref="sadmin.saminMarketInfo"
                 ng-class="{sidebarBcg:$state.includes('sadmin.saminMarketInfo')}">
                <p class="panel-title"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;&nbsp;应用管理</p>
            </div>
        </div>

        <!--usersInfo-->
        <div class="panel panel-default" ng-if="!isSubAccount || jurisdiction.user_ctrl">
            <div class="panel-heading" data-parent="#accordion" data-toggle="collapse" data-target="#sadminUsersInfo">
                <p class="panel-title"><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;用户管理</p>
            </div>
            <div class="secondMenu collapse"  id="sadminUsersInfo"  ng-class="{in:$state.includes('sadminUsers')}">
                <div class="panel-body lefterNavItem">
                    <p ui-sref="sadminUsers.sadminUsersInfo"
                       ng-class="{sidebarBcg:$state.includes('sadminUsers.sadminUsersInfo')}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;用户信息</p>
                </div>
            </div>
        </div>

        <!--sadminResource-->
        <div class="panel panel-default" ng-if="!isSubAccount || jurisdiction.view_resource ||jurisdiction.upload_resource">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#resource">
                <p class="panel-title"><span class="glyphicon glyphicon-bishop"></span>&nbsp;&nbsp;资源管理</p>
            </div>
            <div class="secondMenu collapse" ng-class="{in:$state.includes('sadminResource')}" id="resource">
                <div class="panel-body">
                    <p ui-sref="sadminResource.resourceList" ng-if="!isSubAccount || jurisdiction.view_resource"
                       ng-class="{sidebarBcg : $state.includes('sadminResource.resourceList')}"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;查看资源</p>
                    <p ui-sref="sadminResource.resourceUpload" ng-if="!isSubAccount || jurisdiction.upload_resource"
                       ng-class="{sidebarBcg : $state.includes('sadminResource.resourceUpload')}"><span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;上传资源</p>
                </div>
            </div>
        </div>

        <!--statisticsInfo-->
        <div class="panel panel-default" ng-if="!isSubAccount || jurisdiction.statistics_ctrl">
            <div class="panel-heading" data-parent="#accordion" data-toggle="collapse" data-target="#sadminStatisticsInfo">
                <p class="panel-title"><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;统计分析</p>
            </div>
            <div class="secondMenu collapse"  id="sadminStatisticsInfo"  ng-class="{in:$state.includes('sadminStatistics')}">
                <div class="panel-body lefterNavItem">
                    <p ui-sref="sadminStatistics.basicStatisticsInfo" ng-class="{sidebarBcg:$state.includes('sadminStatistics.basicStatisticsInfo')}"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;概况</p>
                    <p ui-sref="sadminStatistics.statisticsInfo({adtype:'0'})" ng-class="{sidebarBcg:$state.includes('sadminStatistics.statisticsInfo')}"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;整体趋势</p>
                    <p ui-sref="sadminStatistics.bannerStatistics({adtype:'banner'})" ng-class="{sidebarBcg:$state.includes('sadminStatistics.bannerStatistics')}"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;banner</p>
                    <p ui-sref="sadminStatistics.nativeStatistics({adtype:'native'})" ng-class="{sidebarBcg:$state.includes('sadminStatistics.nativeStatistics')}"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;native</p>
                    <p ui-sref="sadminStatistics.iconStatistics({adtype:'icon'})" ng-class="{sidebarBcg:$state.includes('sadminStatistics.iconStatistics')}"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;icon</p>
                    <p ui-sref="sadminStatistics.pushStatistics({adtype:'push'})" ng-class="{sidebarBcg:$state.includes('sadminStatistics.pushStatistics')}"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;push</p>
                    <p ui-sref="sadminStatistics.interstitialStatistics({adtype:'interstitial'})" ng-class="{sidebarBcg:$state.includes('sadminStatistics.interstitialStatistics')}"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;interstitial</p>
                    <p ui-sref="sadminStatistics.moreStatistics({adtype:'more'})" ng-class="{sidebarBcg:$state.includes('sadminStatistics.moreStatistics')}"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;more</p>
                    <p ui-sref="sadminStatistics.offerStatistics({adtype:'offer'})" ng-class="{sidebarBcg:$state.includes('sadminStatistics.offerStatistics')}"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;offer</p>
                    <p ui-sref="sadminStatistics.picStatistics({adtype: 'pic'})" ng-class="{sidebarBcg : $state.includes('sadminStatistics.picStatistics')}"><span class="glyphicon glyphicon-record"></span>&nbsp;&nbsp;图片点击</p>
                </div>
            </div>
        </div>

        <!--geoext-->
        <div class="panel panel-default" ng-if="!isSubAccount || jurisdiction.area_ctrl">
            <div class="panel-heading" ui-sref="sadmin.sadminGeoext"
                 ng-class="{sidebarBcg:$state.includes('sadmin.sadminGeoext')}">
                <p class="panel-title"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;&nbsp;区域管理</p>
            </div>
        </div>

        <!--syn for app-->
        <div class="panel panel-default" ng-if="!isSubAccount || jurisdiction.publish_application">
            <div class="panel-heading" ui-sref="sadmin.sadminSyn"
                 ng-class="{sidebarBcg:$state.includes('sadmin.sadminSyn')}">
                <p class="panel-title"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;&nbsp;发布应用</p>
            </div>
        </div>

        <!--log about syn-->
        <div class="panel panel-default">
            <div class="panel-heading" data-parent="#accordion" data-toggle="collapse" data-target="#sadminLog">
                <p class="panel-title"><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;操作日志</p>
            </div>
            <div class="secondMenu collapse"  id="sadminLog"  ng-class="{in:$state.includes('sadminLog')}">
                <div class="panel-body lefterNavItem">
                    <p ui-sref="sadminLog.sadminLogSyn" ng-class="{sidebarBcg:$state.includes('sadminLog.sadminLogSyn')}"><span class="glyphicon glyphicon-record"></span>&nbsp;&nbsp;发布日志</p>
                    <p ui-sref="sadminLog.sadminLogApp" ng-class="{sidebarBcg:$state.includes('sadminLog.sadminLogApp')}"><span class="glyphicon glyphicon-record"></span>&nbsp;&nbsp;应用日志</p>
                    <p ui-sref="sadminLog.sadminLogOpt" ng-class="{sidebarBcg:$state.includes('sadminLog.sadminLogOpt')}"><span class="glyphicon glyphicon-record"></span>&nbsp;&nbsp;投放日志</p>
                    <p ui-sref="sadminLog.sadminLogLoginIn" ng-class="{sidebarBcg:$state.includes('sadminLog.sadminLogLoginIn')}"><span class="glyphicon glyphicon-record"></span>&nbsp;&nbsp;登录日志</p>
                    <p ui-sref="sadminLog.sadminLogAd" ng-class="{sidebarBcg:$state.includes('sadminLog.sadminLogAd')}"><span class="glyphicon glyphicon-record"></span>&nbsp;&nbsp;策略日志</p>
                </div>
            </div>
        </div>

        <!--notice-->
        <div class="panel panel-default">
            <div class="panel-heading" data-parent="#accordion" data-toggle="collapse" data-target="#sadminNotice">
                <p class="panel-title"><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;系统消息</p>
            </div>
            <div class="secondMenu collapse"  id="sadminNotice"  ng-class="{in:$state.includes('sadminNotice')}">
                <div class="panel-body lefterNavItem">
                    <p ui-sref="sadminNotice.info" ng-class="{sidebarBcg:$state.includes('sadminNotice.info')}"><span class="glyphicon glyphicon-record"></span>&nbsp;&nbsp;管理消息</p>
                </div>
            </div>
        </div>

        <!--tag-->
        <div class="panel panel-default" ng-if="!isSubAccount || jurisdiction.new_tag ||jurisdiction.view_tag">
            <div class="panel-heading" data-parent="#accordion" data-toggle="collapse" data-target="#sadminTag">
                <p class="panel-title"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;标签管理</p>
            </div>
            <div class="secondMenu collapse" id="sadminTag"  ng-class="{in:$state.includes('sadminTag')}">
                <div class="panel-body lefterNavItem">
                    <p ui-sref="sadminTag.sadminNewTag" ng-if="!isSubAccount || jurisdiction.new_tag"
                       ng-class="{sidebarBcg:$state.includes('sadminTag.sadminNewTag')}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;新增标签</p>
                    <p ui-sref="sadminTag.sadminAppTag" ng-if="!isSubAccount || jurisdiction.view_tag"
                       ng-class="{sidebarBcg:$state.includes('sadminTag.sadminAppTag')}"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;应用标签</p>
                </div>
            </div>
        </div>

        <!--subAccount-->
        <div class="panel panel-default" ng-if="!isSubAccount">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#superAccount">
                <p class="panel-title"><span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;权限管理</p>
            </div>
            <div class="secondMenu collapse" ng-class="{in:$state.includes('superAccount')}" id="superAccount">
                <div class="panel-body">
                    <p ui-sref="superAccount.superSubAccount" ng-class="{sidebarBcg : $state.includes('superAccount.superSubAccount')}">
                        <span class="glyphicon glyphicon-record"></span>&nbsp;&nbsp;子账户</p>
                </div>
            </div>
        </div>
    </div>






