<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">
            <button class="btn btn-default" ng-click="showAddModel()" data-toggle="modal" data-target="#addMarketPanel"><span class="glyphicon glyphicon-plus" ></span>&nbsp;新增应用</button>
        </p>
    </div>
    <table class="table table-bordered" ng-if="markets.length !== 0" style="table-layout:fixed;width: 100%;">
        <tr class="tableTitle">
            <td>名称</td>
            <td>标识</td>
            <td ng-if="platform === '1'">包名</td>
            <td class="tdOverflow">uri</td>
            <td class="tdOverflow">webUrl</td>
            <td>操作</td>
        </tr>
        <tr ng-repeat="market in markets">
            <td>{{market.nickname}}</td>
            <td>{{market.name}}</td>
            <td ng-if="platform === '1'">{{market.pkgname}}</td>
            <td class="tdOverflow" title="{{market.uri}}">{{market.uri}}</td>
            <td class="tdOverflow" title="{{market.weburl}}">{{market.weburl}}</td>
            <td>
                <a class="glyphicon glyphicon-edit cursor_p" ng-click="showUpdateModel(market)" data-toggle="modal" data-target="#updateMarketPanel">编辑</a>&nbsp;&nbsp;
                <a class="glyphicon glyphicon-edit cursor_p" ng-click="delMarket($index)">删除</a>
            </td>
        </tr>
    </table>
</div>

<div class="modal" id="updateMarketPanel">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>
        <div class="modal-body clearfix">
            <div class="row form-group">
                <label class="control-label col-sm-2 text-right">名称：</label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model="oldMarket.nickname">
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-sm-2 text-right">标识：</label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model="oldMarket.name" disabled>
                </div>
            </div>
            <div class="row form-group" ng-if="platform === '1'">
                <label class="control-label col-sm-2 text-right">包名：</label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model="oldMarket.pkgname">
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-sm-2 text-right">uri：</label>
                <div class="col-sm-10">
                    <textarea ng-model="oldMarket.uri" class="marketTextarea"></textarea>
                    <!--<input class="form-control" ng-model="oldMarket.uri">-->
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-sm-2 text-right">webUrl：</label>
                <div class="col-sm-10">
                    <textarea ng-model="oldMarket.weburl" class="marketTextarea"></textarea>
                    <!--<input class="form-control" ng-model="oldMarket.weburl">-->
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal" ng-click="updateMarket()">保&nbsp;&nbsp;存</button>
        </div>
    </div>
</div>


<div class="modal" id="addMarketPanel">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>
        <div class="modal-body clearfix">
            <div class="row form-group">
                <label class="control-label col-sm-2 text-right">名称：</label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model="newMarket.nickname">
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-sm-2 text-right">标识：</label>
                <div class="col-sm-10">
                    <input class="form-control"  ng-model="newMarket.name">
                </div>
            </div>
            <div class="row form-group" ng-if="platform === '1'">
                <label class="control-label col-sm-2 text-right">包名：</label>
                <div class="col-sm-10">
                    <input class="form-control"  ng-model="newMarket.pkgname">
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-sm-2 text-right">uri：</label>
                <div class="col-sm-10">
                    <textarea ng-model="newMarket.uri" class="marketTextarea"></textarea>
                    <!--<input class="form-control" ng-model="newMarket.uri">-->
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-sm-2 text-right">webUrl：</label>
                <div class="col-sm-10">
                    <textarea ng-model="newMarket.weburl" class="marketTextarea"></textarea>
                    <!--<input class="form-control" ng-model="newMarket.weburl">-->
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal" ng-click="addMarket()">保&nbsp;&nbsp;存</button>
        </div>
    </div>
</div>

<p class="nothing" ng-if="markets.length == 0">
    暂无数据信息
</p>