
<div class="panel panel-default form-group">
    <div class="panel-heading cursor_p clearfix">
        <input type="search" ng-model="condition.query" placeholder="按app名称搜索" class="searchInput" ng-model-options="{debounce:{default:1000,blur:0}}">

        <select class="cursor_p searchInput pull-right" ng-model="condition.linkid" ng-options="linkid.linkid as linkid.linkid for linkid in linkids">
            <option value="">--全部分组--</option>
        </select>

        <select class="cursor_p searchInput pull-right" ng-model="condition.mark" style="width: 150px;color: #686868">
            <option value="">--全部标记--</option>
            <option value="1" style="background: red;">--红色--</option>
            <option value="2" style="background: orange">--橙色--</option>
            <option value="3" style="background: yellow">--黄色--</option>
            <option value="4" style="background: green">--绿色--</option>
            <option value="5" style="background: cyan">--青色--</option>
            <option value="6" style="background: blue">--蓝色--</option>
            <option value="7" style="background: purple">--紫色--</option>
        </select>
    </div>
    <div class="panel-body" ng-if="apps.length !== 0">
        <table class="table table-bordered table-hover">
            <tr class="tableTitle listCont">
                <td>ICON</td>
                <td>应用名称</td>
                <td>应用包名/iTunesid</td>
                <td>APPKEY</td>
                <td>应用组</td>
            </tr>
            <tr ng-repeat="app in apps" class="listCont">
                <td class="cursor_p"><img ngf-src="app.icon||'img/1.png'"></td>

                <td ng-if="app.mark === undefined || app.mark === null || app.mark === '0'">{{app.name}}</td>
                <td ng-if="app.mark !== undefined && app.mark !== null && app.mark !== '0'" class="mark-{{app.mark}}">{{app.name}}</td>

                <td>{{app.pkgname}}</td>
                <td>{{app.appkey}}</td>
                <td>{{app.linkid}}</td>
            </tr>
        </table>
    </div>

</div>
<!--分页-->
<nav class="text-right" gen-pagination="pagination"></nav>

<p class="nothing" ng-if="apps.length == 0">
    暂无数据信息
</p>