<div class="panel panel-default statistics-panel">
    <div class="panel-heading clearfix">
        <div class="panel-title app-select-container" ng-if="condition.moreOfferType !== '0'">
            <select name="app-select" id="app-select2" class="form-control" ng-model="condition.pname" ng-options="app.pkgname as app.name for app in apps">
                <option selected="selected" value="">--被推广App--</option>
            </select>
        </div>
        <div class="panel-title app-select-container" ng-if="condition.adtype === 'more' || condition.adtype === 'offer'">
            <select name="app-select" class="form-control" ng-model="condition.moreOfferType">
                <option selected="selected" value="0">--展示--</option>
                <option selected="selected" value="1">--点击安装--</option>
            </select>
        </div>

        <div class="date-select-container app-select-container" role="date-opt">
            <select name="date-select" id="date-select" class="form-control" ng-model="queryDate">
                <!--<option value="0">今天</option>-->
                <option value="1" ng-if="condition.adtype ==='pic'">昨天</option>
                <option value="2" ng-if="condition.adtype ==='pic'">前天</option>
                <option value="3">过去3天</option>
                <option value="7" ng-if="condition.adtype !=='pic'">过去7天</option>
                <option value="15" ng-if="condition.adtype !=='pic'">过去15天</option>
                <!--<option value="-1">本月</option>-->
                <!--<option value="-2">上月</option>-->
            </select>
        </div>

        <div class="reg-select-container app-select-container" role="region-opt">
            <select name="region-select" id="region-select" class="form-control" ng-model="condition.reg" ng-options="region.code as region.name for region in regions" ng-disabled="isDisabled">
                <option selected="selected" value="">--地区--</option>
            </select>
        </div>

        <div class="date-select-container app-select-container" role="date-opt" ng-if="condition.adtype === 'pic'">
            <select class="form-control cursor_p" ng-model="condition.pictype">
                <option value="">资源类型</option>
                <option value="l">横图</option>
                <option value="p">竖图</option>
                <option value="ic">icon</option>
                <option value="s">方图</option>
                <option value="o">其他</option>
            </select>
        </div>
        <div class="date-select-container app-select-container" ng-if="condition.adtype === 'pic'">
            <label class="btn btn-default text-center">查看前500条&nbsp;<input title="查看前500条" ng-model="condition.ispage" type="checkbox"/></label>
        </div>
        <div class="date-select-container app-select-container" role="date-opt" ng-if="condition.adtype === 'pic' && pagination.totalRow>0">
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-info" ng-click="exportToExcel('#pic_table')">导 出</button>
        </div>
    </div>

    <div class="panel-body clearfix" ng-show="condition.adtype !== 'pic'">
        <div id="chartContainer" style="width:100%; height:450px">
            <!--<highchart id="chart1" config="highchartsNG"></highchart>-->
        </div>
    </div>

    <div class="table-container" ng-if="apptotal">
        <h4>&nbsp;宿主应用汇总</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>展示总数</th>
                    <th>点击总数</th>
                    <th>安装总数</th>
                    <th>展示点击率&nbsp;<span class="glyphicon glyphicon-info-sign" title="总点击数/总展示数" /></th>
                    <th>点击安装率&nbsp;<span class="glyphicon glyphicon-info-sign" title="总安装数/总点击数" /></th>
                    <th>广告类型</th>
                    <th>地区</th>
                    <th>时间(北京时间)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{apptotal.showtotal}}</td>
                    <td>{{apptotal.clicktotal}}</td>
                    <td>{{apptotal.installtotal}}</td>
                    <td>{{apptotal.clickrate}}</td>
                    <td>{{apptotal.installrate}}</td>
                    <td>{{apptotal.adtype}}</td>
                    <td>{{apptotal.reg}}</td>
                    <td>{{apptotal.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-container" ng-if="conversionList.length > 0">
        <h4>&nbsp;宿主应用推广列表&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-info" ng-click="exportToExcel('#hostAllApp')">导 出</button></h4>
        <table class="table table-bordered" id="hostApp">
            <thead>
                <tr>
                    <th>#</th>
                    <th>宿主应用</th>
                    <th>展示</th>
                    <th>点击</th>
                    <th>安装</th>
                    <th>展示点击率&nbsp;<span class="glyphicon glyphicon-info-sign" title="当前宿主应用点击数/当前宿主应用展示总数"></span></th>
                    <th>点击安装率&nbsp;<span class="glyphicon glyphicon-info-sign" title="当前宿主应用安装数/当前宿主应用点击总数"></span></th>
                    <th>展示占比&nbsp;<span class="glyphicon glyphicon-info-sign" title="当前宿主应用上展示数/所有宿主应用展示总数"/></th>
                    <th>点击占比&nbsp;<span class="glyphicon glyphicon-info-sign" title="当前宿主应用上点击数/所有宿主应用点击总数"/></th>
                    <th>安装占比&nbsp;<span class="glyphicon glyphicon-info-sign" title="当前宿主应用上安装数/所有宿主应用安装总数"/></th>
                    <th>地区</th>
                    <th>时间(北京时间)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="conversion in conversionList track by $index">
                    <th>{{$index + 1}}</th>
                    <td>{{conversion.hname}}</td>
                    <td>{{conversion.show}}</td>
                    <td>{{conversion.click}}</td>
                    <td>{{conversion.install}}</td>
                    <td>{{conversion.clickpercent}}</td>
                    <td>{{conversion.percent}}</td>
                    <td>{{conversion.showtotalper}}</td>
                    <td>{{conversion.clicktotalper}}</td>
                    <td>{{conversion.installtotalper}}</td>
                    <td>{{conversion.reg}}</td>
                    <td>{{conversion.date}}</td>
                </tr>
            </tbody>
        </table>
        <nav class="text-right" gen-pagination="host_pagination"></nav>
    </div>

    <div ng-hide="true">
        <!-- 这部分数据没有分页，用于一次性全部导出表格数据，页面是隐藏的 -->
        <table id="hostAllApp">
            <thead>
                <tr>
                    <th>#</th>
                    <th>宿主应用</th>
                    <th>展示</th>
                    <th>点击</th>
                    <th>安装</th>
                    <th>展示点击率</th>
                    <th>点击安装率</th>
                    <th>展示占比</th>
                    <th>点击占比</th>
                    <th>安装占比</th>
                    <th>地区</th>
                    <th>时间(北京时间)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="conversion in hostAppConversionList track by $index">
                    <th>{{$index + 1}}</th>
                    <td>{{conversion.hname}}</td>
                    <td>{{conversion.show}}</td>
                    <td>{{conversion.click}}</td>
                    <td>{{conversion.install}}</td>
                    <td>{{conversion.clickpercent}}</td>
                    <td>{{conversion.percent}}</td>
                    <td>{{conversion.showtotalper}}</td>
                    <td>{{conversion.clicktotalper}}</td>
                    <td>{{conversion.installtotalper}}</td>
                    <td>{{conversion.reg}}</td>
                    <td>{{conversion.date}}</td>
                </tr>
                <tr>
                    <th></th>
                    <th>合计</th>
                    <td>{{apptotal.showtotal}}</td>
                    <td>{{apptotal.clicktotal}}</td>
                    <td>{{apptotal.installtotal}}</td>
                    <td>{{apptotal.clickrate}}</td>
                    <td>{{apptotal.installrate}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--图片点击-->
    <div class="panel-body" ng-if="condition.adtype === 'pic'">
        <table class="table table-bordered table-hover" id="pic_table">
            <tr class="tableTitle text-center cursor_p">
                <td>#</td>
                <td>图片名称</td>
                <!--<td ng-click="col='ins_num';desc!=desc">安装次数</td>-->
                <td >点击次数</td>
                <td >图片展示数</td>
                <!--<td ng-click="col='ins_rate';desc!=desc">安装率&nbsp;<span class="glyphicon glyphicon-info-sign" title="由当前图片引入的应用安装数/图片的点击数"/></td>-->
                <td>点击率&nbsp;<span class="glyphicon glyphicon-info-sign" title="当前应用图片的点击数/图片展示数"/></td>
                <td>时间(北京时间)</td>
                <td>地区</td>
                <td>操作</td>
            </tr>

            <tr ng-repeat="item in picStatisticsData | orderBy:col:desc" class="text-center" ng-if="picStatisticsData.length > 0">
                <td class="cursor_p" style="position: relative;">
                    {{$index + 1}}
                </td>
                <td>{{item.pic_name}}</td>
                <!--<td>{{item.ins_num}}</td>-->
                <td>{{item.click_num}}</td>
                <td>{{item.show_num}}</td>
                <!--<td>{{item.ins_rate}}</td>-->
                <td>{{item.click_rate}}</td>
                <td>{{item.datetime}}</td>
                <td>{{item.reg}}</td>
                <td><a href="" data-target="#paramTmplBatch" data-toggle="modal" ng-click="showImg(item.pic_src)">查看图片</a></td>
            </tr>

            <p class="nothing" ng-if="picStatisticsData.length == 0">
                暂无数据信息
            </p>

        </table>

        <div class="modal fade modalPosition" id="paramTmplBatch">
            <div class="modal-dialog"  style="width:300px;" style="position: relative;">
                <a class="close" ng-click="closeModel()" data-dismiss="modal" style="position:absolute;top:-15px;right:-15px;"><span class=" glyphicon glyphicon-remove" style="font-color:#fff;"></span></a>
                <img ng-src="{{myImg}}" style="width:100%;">
            </div>
        </div>
        <nav class="text-right" gen-pagination="pagination"></nav>
    </div>
</div>