<div class="form-group">
    <div ng-jsoneditor ng-model="campaign" options="options"></div>

    <div ng-if="user.pub_level !== '0'">
        <p>选择应用组<span class="glyphicon glyphicon-info-sign cursor_p" title="策略将会在与之关联的应用组所包含的应用中投放"></span></p>
        <p>
            <span ng-repeat="linkid in linkids">
                <input type="checkbox" ng-checked="linkid.checked" ng-click="selectLinkid($index)">{{linkid.linkid}}</input>&nbsp;
            </span>
        </p>
    </div>
    <button class="btn btn-info"  ng-click="submit()">保&nbsp;&nbsp;存</button>
    <button class="btn btn-info btn-s" data-toggle="modal" data-target="#fullpage">全&nbsp;&nbsp;屏</button>
</div>


<div class="modal fade height100" id="fullpage">
    <div class="modal-content height100">
        <div class="modal-body height100">
            <div ng-jsoneditor ng-model="campaign" options="options" class="height100"></div>
        </div>
        <button class="btn btn-info returnJson" data-dismiss="modal">返&nbsp;&nbsp;回</button>
    </div>
</div>

<div class="bg-danger clearfix panel-body" ng-if="errors.length != 0">
    <p style="text-indent: 10px;" class="text-danger" ng-repeat="error in errors">error : {{error.error}}</p>
</div>