
<div class="modal fade">
    <div class="modal-content modal-dialog">
        <p class="modal-header">温馨提示!!!</p>
        <div class="modal-body text-center">
            <div class="deleImgWrap" ng-if="icon !== undefined">
                <img src={{icon}}>
            </div>
            <p>{{name}}</p>
            <p>{{modalTitle}}</p>
        </div>
        <div ng-if="isConfirmDialog" class="modal-footer">
            <button class="btn btn-info" ng-click="close(true)" data-dismiss="modal">确&nbsp;&nbsp;定</button>
            <button class="btn btn-info" ng-click="close(false)" data-dismiss="modal">取&nbsp;&nbsp;消</button>
        </div>
        <!--<div ng-if="isAlertDialog" class="modal-footer">-->
            <!--<button type="button" ng-click="close(true)" data-dismiss="modal">确&nbsp;&nbsp;定</button>-->
        <!--</div>-->
    </div>
</div>