<!-- paramInjectPanel-->
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">
            <button class="btn btn-default" data-toggle="modal" ng-click="showAddInjectParamModal()" data-target="#paramInjectPanel"><span class="glyphicon glyphicon-plus"></span>&nbsp;新增注入参数</button>
        </p>
    </div>
    <table class="table table-bordered table-hover" ng-if="injectParams.length !== 0">
        <tr class="tableTitle">
            <td>参数名称</td>
            <td class="td_width180">开关状态</td>
            <td>通用条件</td>
            <td>个性化条件</td>
            <td class="td_width180">操作</td>
        </tr>
        <tr ng-repeat="param in injectParams">
            <td>{{param.name}}</td>
            <td class="td_width180">{{param.switch}}</td>
            <td>{{param.in_condition}}</td>
            <td ng-if="param.paramtype === '0'">{{param.open_condition}}</td>
            <td ng-if="param.paramtype === '1'">无公有条件</td>
            <td class="td_width180">
                <a class="glyphicon glyphicon-edit cursor_p" ng-click="showUpdateInjectParamModal($index)" data-toggle="modal" data-target="#paramInjectPanel">编辑</a>
                <a class="glyphicon glyphicon-edit cursor_p" ng-click="delInjectParam($index)">删除</a>
            </td>
        </tr>
    </table>
</div>

<!--the modal for insert and update the data from the paramInjectPanel-->
<div class="modal fade" id="paramInjectPanel">
    <div class="modal-dialog modal-content">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>
        <div class="modal-body">
            <!--<div class="form-group clearfix">-->
                <!--<label class="col-sm-3 control-label text-right">平台选择：</label>-->
                <!--<div class="col-sm-9">-->
                    <!--<select class="form-control" ng-model="param.platform">-->
                        <!--<option value="0">默认</option>-->
                        <!--<option ng-if="platform==='1'"  value="1" class="cursor_p">当前平台</option>-->
                        <!--<option ng-if="platform==='2'"  value="2" class="cursor_p">当前平台</option>-->
                        <!--<option ng-if="platform==='3'"  value="3" class="cursor_p">当前平台</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group clearfix">
                <label class="col-sm-3 control-label text-right">参数名称：</label>
                <div class="col-sm-9">
                    <input type="text" ng-if="!isAddParam" class="form-control" placeholder="参数名称" ng-model="param.name" disabled>
                    <input type="text" ng-if="isAddParam" class="form-control" placeholder="参数名称" ng-model="param.name">
                </div>
            </div>
            <div class="form-group clearfix" ng-if="isAddParam">
                <label class="col-sm-3 control-label text-right">参数类型：</label>
                <div class="col-sm-9">
                    <select class="form-control" placeholder="参数类型" ng-model="param.paramtype">
                        <option value="0" class="cursor_p">有公有条件</option>
                        <option value="1" class="cursor_p">无公有条件</option>
                    </select>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-3 control-label text-right">开关状态：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control"  placeholder="参数开关项，0表示关闭，1表示开启" ng-model="param.switch">
                </div>
            </div>
            <div class="form-group clearfix" ng-if="param.paramtype === '0'">
                <label class="col-sm-3 control-label text-right">公有条件：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control"  placeholder="条件设置" ng-model="param.open_condition">
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-3 control-label text-right">私有条件：</label>
                <div class="col-sm-9">
                    <input class="form-control" placeholder="条件设置" ng-model="param.in_condition">
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-3 control-label text-right">备注：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="param.note">
                </div>
            </div>
            <!--错误提示-->
            <div class="bg-danger clearfix panel-body" ng-if="errors.length != 0">
                <p style="text-indent: 10px;" class="text-danger"  ng-repeat="error in errors">error : {{error.error}}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-if="!isAddParam" class="btn btn-info" ng-click="updateInjectParam()">保&nbsp;&nbsp;存</button>
            <button ng-if="isAddParam" class="btn btn-info" ng-click="addInjectParam()">保&nbsp;&nbsp;存</button>
        </div>
    </div>


</div>
