<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">
            <button class="btn btn-default" ng-click="showAddModel()" data-toggle="modal" data-target="#addGeoextPanel"><span class="glyphicon glyphicon-plus" ></span>&nbsp;新增区域</button>
        </p>
    </div>
    <table class="table table-bordered" ng-if="geoextInfos.length !== 0">
        <tr class="tableTitle">
            <td>区域名称</td>
            <td>区域编码</td>
            <td>区域所有国家</td>
            <td>操作</td>
        </tr>
        <tr ng-repeat="region in geoextInfos">
            <td>{{region.name}}</td>
            <td>{{region.code}}</td>
            <td>{{region.chinesegeo}}</td>
            <td style="width:180px;">
                <a class="glyphicon glyphicon-edit cursor_p" ng-click="showUpdateModel(region)" data-toggle="modal" data-target="#updateGeoextPanel">编辑</a>&nbsp;&nbsp;
                <a class="glyphicon glyphicon-remove cursor_p" ng-click="delRegion($index)">删除</a>
            </td>
        </tr>
    </table>
</div>

<div class="modal" id="updateGeoextPanel">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>
        <div class="modal-body clearfix">
            <div class="form-group">
                <span class="">区域名称：</span>
                <input class="geoInput" ng-model="oldRegion.name" disabled>
                <span>区域代码：</span>
                <input class="geoInput" ng-model="oldRegion.code" disabled>
            </div>

            <p>勾选国家：</p>
            <div class="geoPanel">
                <label class="btn btn-default geoLabel" ng-class="{bgSelected:region.checked}" ng-repeat="region in geoInfos" ng-click="addRegionToOwn(region)" title="{{region.name}}">{{region.name}}</label>
            </div>
        </div>


        <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal" ng-click="updateRegion()">保&nbsp;&nbsp;存</button>
        </div>
    </div>
</div>




<div class="modal" id="addGeoextPanel">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>
        <div class="modal-body clearfix">
            <div class="form-group">
                <span>区域名称：</span>
                <input class="geoInput" ng-model="newRegion.name">
                <span>区域代码：</span>
                <input class="geoInput" ng-model="newRegion.code">
            </div>

            <p>勾选国家：</p>
            <div class="geoPanel">
                <label class="btn btn-default geoLabel" ng-class="{bgSelected:region.checked}" ng-click="addRegionToOwn(region)" ng-repeat="region in geoInfos" title="{{region.name}}">{{region.name}}</label>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal" ng-click="addRegion()">保&nbsp;&nbsp;存</button>
        </div>
    </div>
</div>