<a ng-click="showModel()" data-toggle="modal" data-target="#appSyn" href="">点击可视发布状态信息</a>
<br>
<a ng-click="initAppCache()">缓存同步（切勿连续点击～慎用）</a>
<br>
<a ng-click="initAppId()">初始化AppId（请再三考虑后使用，非常之危险）</a>
<button class="btn btn-info" ng-if="upload" ng-click="newSynInfo()">刷新发布信息</button>
<span ng-if="showDelaytime">预计发布所需时间:{{second}},请耐心等待!</span>


<div class="panel-body" ng-if="list.length !== 0">
    <table class="table table-bordered table-hover">
        <tr class="tableTitle listCont">
            <td>状态</td>
            <td>信息</td>
            <td>更新时间</td>
        </tr>
        <tr ng-repeat="info in list" class="listCont">
            <td ng-if="info.status === '0'">等待发布</td>
            <td ng-if="info.status === '1'">发布完成!</td>
            <td ng-if="info.status === '2'">正在发布...</td>
            <td>{{info.info}}</td>
            <td>{{info.utime}}</td>
        </tr>
    </table>
</div>

<!--the reason for syn-->
<div class="modal fade" id="appSyn">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>
        </div>
        <div class="modal-body">
            <div class="clearfix form-group">
                <label class="col-sm-3 control-label text-right">发布原因：</label>
                <div class="col-sm-8">
                    <textarea rows="8" class="form-control" ng-model="reason"></textarea>
                </div>
            </div>
            <div ng-if="errorShow" ng-repeat="error in errors">
                <p class="text-center">{{error.error}}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="syn()">确&nbsp;&nbsp;定</button>
        </div>
    </div>
</div>