<div class="form-group">
    <!--<div ng-jsoneditor ng-model="task" options="options"></div>-->
    <div class="panel-heading">
        <p class="panel-title">
            <button class="btn btn-default" data-toggle="modal" data-target="#addTask"><span class="glyphicon glyphicon-plus"></span>&nbsp;新增任务子节点</button>
        </p>

    </div>

    <div class="panel-body" ng-if="task.length !== 0">
        <table class="table table-bordered table-hover">

            <tr class="tableTitle">
                <td class="td_width200">id</td>
                <td>name</td>
                <td>weight</td>
                <td class="td_width200">操作</td>
            </tr>

            <tr ng-repeat="t in task track by $index">
                <td class="td_width200">{{t.id}}</td>
                <td>{{t.name}}</td>
                <td>{{t.weight}}</td>
                <td class="td_width200">
                    <a href="" data-target="#taskModify" data-toggle="modal" ng-click="modifyTask(t,$index)" class="glyphicon glyphicon-edit">编辑</a>&nbsp;&nbsp;
                    <a href="" class="glyphicon glyphicon-remove" ng-click="delTask(t,$index)">删除</a>&nbsp;&nbsp;
                </td>
            </tr>
        </table>
    </div>
    <p class="nothing" ng-if="task.length == 0">
        暂无数据信息
    </p>
    <br>
    <div ng-if="user.pub_level !== '0'">
        <p>选择应用组<span class="glyphicon glyphicon-info-sign cursor_p" title="任务将会在与之关联的应用组所包含的应用中投放"></span></p>
        <p>
            <span ng-repeat="linkid in linkids">
                <input type="checkbox" ng-checked="linkid.checked" ng-click="selectLinkid($index)">{{linkid.linkid}}</input>&nbsp;
            </span>
        </p>
    </div>
    <button class="btn btn-info"  ng-click="submit()">保&nbsp;&nbsp;存</button>
    <button class="btn btn-info btn-s" data-toggle="modal" data-target="#fullpage">全&nbsp;&nbsp;屏</button>
</div>


<div class="modal fade height100" id="fullpage">
    <div class="modal-content height100">
        <div class="modal-body height100">
            <div ng-jsoneditor ng-model="task" options="options" class="height100"></div>
        </div>
        <button class="btn btn-info returnJson" data-dismiss="modal">保&nbsp;&nbsp;存</button>
    </div>
</div>

<div class="bg-danger clearfix panel-body" ng-if="errors.length != 0">
    <p style="text-indent: 10px;" class="text-danger" ng-repeat="error in errors">error : {{error.error}}</p>
</div>

<div class="modal fade" id="taskModify">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>编辑任务
        </div>
        <div class="modal-body clearfix">
            <div ng-jsoneditor ng-model="subtask" options="options"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="updateTask()">保&nbsp;&nbsp;存</button>
        </div>
    </div>
</div>

<div class="modal fade" id="addTask">
    <div class="modal-content modal-dialog">
        <div class="modal-header">
            <p>
                <a class="close" data-dismiss="modal">×</a>
            </p>增加任务（请增加单个任务子节点）
        </div>
        <div class="modal-body clearfix">
            <div ng-jsoneditor ng-model="subtaskdata" options="options"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="addTask()">保&nbsp;&nbsp;存</button>
        </div>
    </div>
</div>